@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(2, 2, 45) 25%,
    rgb(21, 31, 80) 100%
  );
  background-attachment: fixed;
}
